.footer-css {
    color: #24254f;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.carousel-style-picture {
    border-bottom-right-radius: .5em;
    border-top-left-radius: 0.5em;
}


.recipe-picture {
    border-bottom-right-radius: .5em;
    border-top-left-radius: 0.5em;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
