.navbar {
    background: rgb(252, 195, 10); /* Fallback for older browsers without RGBA-support */
    background: rgba(245, 102, 19, 0.5);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .navbar :active {
    text-underline-position: under rgb(226, 124, 7);
  }

  .avatar {
    background-color: rgb(189, 131, 105);
    margin-top: 20px;
    padding: 20px 20px 15px 20px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

  }