.navbar {
    background: rgb(252, 195, 10); /* Fallback for older browsers without RGBA-support */
    background: rgba(245, 102, 19, 0.5);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .navbar :active {
    text-underline-position: under rgb(226, 124, 7);
  }

  .avatar {
    background-color: rgba(255, 230, 2, 0.671);
    margin-top: 20px;
    padding: 20px 20px 15px 20px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .recipe-list-container {
    margin-top: 10px;
    padding: 20px 20px 40px 20px;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .recipe-list-item {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
    border-bottom-color: rgb(202, 202, 202);
    
    /* border-bottom-style: solid; */
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-right-radius: .5em;
    border-top-left-radius: 0.5em;

  }

  .collapse-style {
    /* background-color: rgb(244, 248, 239); */
    border-style: dotted #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 10px;
  }