body {
  background-color: aqua;
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1e1e1e;
  }
  
  a {
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    color: #0078ff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  .signup {
    background-color: azure;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
  }

  .login {
    background-color: azure;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
  }

  .contact {
    background-color: azure;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
  }

  .about {
    background-color: blue;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;

  }

  .home {
    background-color: rgb(230, 230, 238);
    margin-top: 20px;
    padding: 20px 20px 40px 20px;

  }