
  .signup {
    /* background-image: url(); */
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .login {
    background-color: azure;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contact {
    background-color: azure;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .about {
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .bg-container {
    /* background-image: url("../img/bakground/sharon-mccutcheon-62vi3TG5EDg-unsplash.jpg");
    opacity: 0.5; */
    background: rgb(240, 239, 239); /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 42, 42, 0.274);
  }

  

  