
  .signup {
    /* background-image: url(); */
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
  }

  .login {
    background-color: azure;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
  }

  .contact {
    background-color: azure;
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .about {
    margin-top: 20px;
    padding: 20px 20px 40px 20px;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .bg-container {
    /* background-image: url("../img/bakground/sharon-mccutcheon-62vi3TG5EDg-unsplash.jpg");
    opacity: 0.5; */
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
  }

  .recipe-list-container {
    margin-top: 10px;
    padding: 20px 20px 40px 20px;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;


  }

  